<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chaotisch.hqapp"
    android:versionCode="1"
    android:versionName="1.6" android:installLocation="internalOnly">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="hqapp">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".About" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.chaotisch.hqapp.MainActivity" />
        </activity>
        <activity
            android:name=".ImportKey"
            android:label="@string/title_activity_import_key" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.chaotisch.hqapp.Settings" />
        </activity>
        <activity
            android:name=".CreateKey"
            android:label="@string/title_activity_create_key" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.chaotisch.hqapp.Settings" />
        </activity>
        <activity
            android:name=".SetPassphrase"
            android:label="@string/title_activity_set_passphrase" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.chaotisch.hqapp.Settings" />
        </activity>
    </application>

</manifest>